@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@700&family=Space+Mono:wght@700&display=swap');

:root {
    --red: #f87070;
    --blue: #70f3f8;
    --purple: #d881f8;
    --blueish-gray: #d7e0ff;
    --purpleish-blue: #1e213f;
    --white: #ffffff;
    --light-gray: #eff1fa;
    --dark-blue: #161932;

    --ff-primary: 'Kumbh Sans';
    --ff-secondary: 'Roboto Slab';
    --ff-tertiary: 'Space Mono';

    --fs-h1: 8rem;
    --fs-h2: 2.3rem;
    --fs-h3: 1.6rem;
    --fs-h4: 1.3rem;
    --fs-body-primary: 1.4rem;
    --fs-body-secondary: 1.2rem;

    --active-color: var(--red);

    font-size: 62.5%;
}

.ff-1 {
    font-family: var(--ff-primary);
}
.ff-2 {
    font-family: var(--ff-secondary);
}
.ff-3 {
    font-family: var(--ff-tertiary);
}

.bg-red {
    background-color: var(--red);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-purple {
    background-color: var(--purple);
}

.col-red {
    color: var(--red);
}
.col-blue {
    color: var(--blue);
}
.col-purple {
    color: var(--purple);
}

h1 {
    font-size: var(--fs-h1);
    line-height: 12rem;
    letter-spacing: -5%;
}
h2 {
    font-size: var(--fs-h2);
    line-height: 3.4rem;
}
h3 {
    font-size: var(--fs-h3);
    line-height: 1.9rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
}
h4 {
    font-size: var(--fs-h4);
    line-height: 1.6rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.fs-primary {
    font-size: var(--fs-body-primary);
    line-height: 1.8rem;
}
.fs-secondary {
    font-size: var(--fs-body-secondary);
    line-height: 1.4rem;
}


body {
    min-height: 100vh;
    background-color: var(--purpleish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title {
    color: var(--blueish-gray);
    margin-top: 20px;
}

.stage-container {
    margin-top: 20px;
    width: 100%;
    max-width: 320px;
    position: relative;
    background-color: var(--dark-blue);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
}

.stage-btn {
    background-color: transparent;
    border: none;
    color: var(--blueish-gray);
    opacity: 40%;
    transition: color .3s ease-in-out, opacity .2s ease-in-out;
    padding: 8px 18px;
    z-index: 1;
    border-radius: 27px;
}

.stage-btn:hover {
    cursor: pointer;
    opacity: 100%;
}

.stage-active {
    background-color: var(--active-color);
    opacity: 100%;
    color: var(--purpleish-blue);
}

.timer-container-outer {
    margin-top: 20px;
    aspect-ratio: 1/1;
    padding: 22px;
    width: 100%;
    max-width: 340px;
    border-radius: 50%;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272C5A;
}

.timer-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.timer-bar {
    position: absolute;
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.timer-track {
    fill: none;
    stroke: transparent;
    stroke-width: 6px;
}

.timer-fill {
    fill: none;
    stroke: var(--active-color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: 0 283;
    transition: stroke-dasharray 1s linear;
}
  
.time {
    color: var(--blueish-gray);
}

.start-btn {
    display: inline-block;
    background: transparent;
    width: max-content;
    z-index: 2;
    border: none;
}

.start-btn:hover {
    cursor: pointer;
}

.start-btn-text {
    text-indent: 1.5rem;
    color: var(--blueish-gray)
}












.settings-btn {
    width: 32px;
    margin-top: 20px;
    background: none;
    border: none;
}

.settings-btn:hover {
    cursor: pointer;
}